* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 1em;
}

html {
  background-color: #FF7A00;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 0em;
}
header .displayHeaderContainer {
  display: flex;
  width: 100vw;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2E2C2C;
}
header .displayHeaderContainer .title {
  font-size: 2.5rem;
  font-family: "Sedgwick Ave Display", cursive;
  color: #2E2C2C;
}
header .displayHeaderContainer .title span {
  color: #fff;
}
header .displayHeaderContainer .openMenuBtn svg {
  cursor: pointer;
  width: 39px;
}

nav {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 99;
  height: 100vh;
  width: 50%;
  padding: 0em;
  background-color: #FF7A00;
  font-style: "PT Mono", monospace;
  transform: translateX(100%);
  transition: 0.4s ease-in-out;
  border-left: 2px solid #2E2C2C;
}
nav .closeMenuBtn {
  padding: 2em;
}
nav .closeMenuBtn svg {
  cursor: pointer;
}
nav ul {
  list-style: none;
  padding-block: 2em;
}
nav ul li {
  padding: 1.5em 3em;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: #2E2C2C;
  font-size: 1.5rem;
  font-family: "PT Mono", monospace;
}
nav ul li:hover {
  background-color: #2E2C2C;
  color: #FF7A00;
}
nav ul li:hover a {
  color: #FF7A00;
}
nav .socialIcons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15em;
  align-items: flex-end;
}
nav .socialIcons svg {
  margin-inline: 0.5em;
  cursor: pointer;
}

.open-nav {
  transform: translateX(0);
}

.heroContainer {
  display: grid;
  margin-block: 1.5em 1em;
  grid-template: 0.6fr auto/100%;
  max-height: 776px;
}
.heroContainer .heroImg img {
  width: 100%;
  box-shadow: 7px 7px;
  -o-object-fit: cover;
     object-fit: cover;
}
.heroContainer .heroTex {
  display: flex;
  align-items: center;
}
.heroContainer .heroTex h1 {
  padding: 0.2em 0;
  font-family: "Progress Personal Use";
  text-transform: uppercase;
  font-size: 5.3rem;
  color: #2E2C2C;
  line-height: 70px;
}
.heroContainer .heroTex h1 span {
  font-size: 6rem;
  color: white;
  text-shadow: 7px 7px #000000;
}

hr {
  border: 1px solid #2E2C2C;
}

.imageGridCollage {
  margin-block: 0em 3em;
  /* You can remove the object-fit from individual image classes if it's not needed */
}
.imageGridCollage .gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) 8em;
  gap: 20px;
  width: 100%; /* Set a width for the container */
}
.imageGridCollage .gridContainer .image {
  background-color: #2E2C2C;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 7px 7px;
}
.imageGridCollage .gridContainer .one {
  grid-row: span 2;
}
.imageGridCollage .gridContainer .three {
  grid-row: span 2;
}
.imageGridCollage .gridContainer .four {
  display: none;
}
.imageGridCollage .gridContainer .six {
  display: none;
}
.imageGridCollage .gridContainer .greyBlock {
  display: grid;
  place-items: center;
  background-color: #2E2C2C;
  color: #FF7A00;
  grid-column: span 2;
  font-family: "Progress Personal Use";
  font-size: 3.2rem;
  box-shadow: 7px 7px #000000;
}
.imageGridCollage .gridContainer .greyBlock p {
  text-align: center;
  vertical-align: middle;
}
.imageGridCollage img {
  max-width: 100%; /* Set the maximum width to 100% to allow resizing */
  height: auto; /* Set height to auto to maintain the aspect ratio */
  -o-object-fit: cover;
     object-fit: cover; /* Use cover to fill the container without distortion */
}

.ourStory {
  background-color: #c2630b;
  padding: 1em;
  border: 5px solid #2E2C2C;
  margin-block: 2em;
}
.ourStory .storyContainer .info {
  color: white;
  margin-bottom: 1em;
}
.ourStory .storyContainer .info h2 {
  font-family: "Progress Personal Use";
  font-size: 4.5rem;
}
.ourStory .storyContainer .info p {
  font-family: "PT Mono";
  text-align: left;
  border-bottom: 2px solid #2E2C2C;
  padding: 0.5em;
}
.ourStory .storyContainer .founderInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}
.ourStory .storyContainer .founderInfo img {
  width: 15em;
  height: 15em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 15px 10px #000;
}
.ourStory .storyContainer .founderInfo .line {
  display: none;
}
.ourStory .storyContainer .founderInfo .founderTitle {
  width: 100%;
  margin-top: 1em;
}
.ourStory .storyContainer .founderInfo .founderTitle p {
  text-align: center;
  padding-top: 0.5em;
  font-size: 1.2rem;
  color: white;
  font-family: "PT Mono";
}
.ourStory hr {
  border: 0.5px solid black;
}

.streamingServiceBanner {
  left: 0;
  right: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  font-family: "PT Mono";
  text-align: center;
  padding: 2em 0;
}
.streamingServiceBanner .servicesContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 2em;
}

footer {
  background-color: #FF7A00;
  padding: 2em 1em;
}
footer .footerContainer {
  display: grid;
  grid-template: 5fr 0.25fr/1fr 1fr;
}
footer .navContainer {
  display: flex;
  justify-self: center;
}
footer .navContainer ul {
  list-style: none;
}
footer .navContainer ul li {
  margin-block: 0.8em;
}
footer .navContainer ul li a {
  text-decoration: none;
  color: white;
  font-family: "PT Mono";
}
footer .navContainer ul li a:hover {
  text-decoration: underline;
}
footer .title {
  font-size: 2.5rem;
  font-family: "Sedgwick Ave Display", cursive;
}
footer .title span {
  color: #fff;
}
footer .footerIcons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  text-align: center;
  align-items: start;
}
footer .footerIcons .twitter {
  height: 0.1em;
}
footer .footerIcons .twitter svg {
  height: 2.2em;
  width: 2em;
}
footer .footerIcons svg {
  margin-inline: 0.5em;
  cursor: pointer;
}
footer .copyright {
  font-family: "PT Mono";
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}
footer .copyright p {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 845px) {
  .heroContainer {
    margin-block: 1em 3em;
    grid-template: 70vh/50% auto;
  }
  .heroContainer .heroImg img {
    height: 100%;
  }
  .heroContainer .heroTex h1 {
    padding: 0.2em 0 0.2em 0.3em;
    font-size: 5.3rem;
    line-height: 140%;
  }
  .heroContainer .heroTex h1 span {
    font-size: unset;
  }
}
@media only screen and (min-width: 1100px) {
  .wrapper {
    margin-inline: 3em;
  }
  .heroContainer {
    grid-template: 70vh/62% auto;
  }
  .heroContainer .heroTex h1 {
    padding: 0.2em 0 0.2em 0.4em;
  }
  .imageGridCollage .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 0.5fr) 0.15fr;
    width: 100%;
  }
  .imageGridCollage .gridContainer .image {
    width: 100%;
    height: 100%;
  }
  .imageGridCollage .gridContainer .one {
    grid-row: span 2;
  }
  .imageGridCollage .gridContainer .three {
    grid-row: span 2;
  }
  .imageGridCollage .gridContainer .four {
    display: unset;
    grid-row: span 2;
  }
  .imageGridCollage .gridContainer .five {
    grid-row: span 2;
  }
  .imageGridCollage .gridContainer .six {
    display: unset;
    grid-row: span 2;
  }
  .imageGridCollage .gridContainer .greyBlock {
    grid-column-start: 2;
    font-size: 2rem;
  }
  .ourStory {
    background-color: #c2630b;
    padding: 1em;
    border: 5px solid #2E2C2C;
    margin-block: 2em;
  }
  .ourStory .storyContainer {
    padding: 0 1rem;
  }
  .ourStory .storyContainer .info {
    color: white;
    margin-bottom: 0em;
  }
  .ourStory .storyContainer .info h2 {
    font-family: "Progress Personal Use";
    font-size: 5rem;
  }
  .ourStory .storyContainer .info p {
    font-family: "PT Mono";
    text-align: left;
    border-bottom: none;
  }
  .ourStory .storyContainer .founderInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
  }
  .ourStory .storyContainer .founderInfo img {
    width: 15em;
    height: 15em;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    box-shadow: 15px 10px #000;
  }
  .ourStory .storyContainer .founderInfo .founderTitle {
    width: 100%;
    margin-top: 0;
  }
  .ourStory .storyContainer .founderInfo .founderTitle p {
    text-align: center;
    padding-top: 0;
    font-size: 1.2rem;
    color: white;
    font-family: "PT Mono";
  }
  .ourStory .storyContainer .founderInfo .line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ourStory .storyContainer .founderInfo .line svg {
    width: 20em;
    display: flex;
    align-items: center;
    margin-inline: 3em 2em;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: unset;
    padding: 0em 0em;
    border-bottom: 2px solid #2E2C2C;
  }
  header .displayHeaderContainer {
    display: unset;
    width: unset;
    justify-content: unset;
    align-items: center;
    border-bottom: unset;
  }
  header .displayHeaderContainer .title {
    font-size: 3.5rem;
  }
  header .displayHeaderContainer .openMenuBtn svg {
    display: none;
  }
  nav {
    position: relative;
    display: flex;
    align-items: center;
    height: unset;
    width: unset;
    padding: 0em;
    background-color: unset;
    transform: translateX(0%);
    border-left: unset;
  }
  nav .closeMenuBtn {
    display: none;
  }
  nav ul {
    padding-block: 0em 0em;
    margin: 0 0em;
    display: flex;
  }
  nav ul li {
    padding: 0em 0em;
    margin: 0 2em;
    width: unset;
  }
  nav ul li a {
    color: #fff;
    font-size: 1.5rem;
    width: 5em;
  }
  nav ul li:hover {
    background-color: unset;
    color: #fff;
    text-decoration: underline;
  }
  nav ul li:hover a {
    color: unset;
  }
  nav .socialIcons {
    display: none;
  }
  .open-nav {
    transform: translateX(0);
  }
  footer {
    padding: 2em 1em;
  }
  footer .footerContainer {
    margin: 0 2em;
  }
  footer .footerContainer .title {
    font-size: 3rem;
  }
  footer .footerContainer .footerIcons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    text-align: center;
    align-items: start;
  }
  footer .footerContainer .footerIcons svg {
    margin-inline: 0.3em;
    cursor: pointer;
  }
  footer .footerContainer .copyright {
    font-size: 1rem;
    display: flex;
    text-align: right;
  }
  footer .footerContainer .copyright p {
    text-align: center;
  }
  footer .navContainer ul li a {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1400px) {
  .heroContainer {
    grid-template: 70vh/62% auto;
  }
  .heroContainer .heroTex {
    display: flex;
    align-items: center;
  }
  .heroContainer .heroTex h1 {
    padding: 0.2em 0 0.2em 0.4em;
    font-family: "Progress Personal Use";
    text-transform: uppercase;
    font-size: 6rem;
    color: #2E2C2C;
    line-height: 120%;
  }
  .heroContainer .heroTex h1 span {
    font-size: 6.7rem;
    color: white;
    text-shadow: 7px 7px #000000;
  }
  .imageGridCollage .gridContainer P {
    font-size: 3rem;
  }
  .ourStory {
    padding: 1em;
  }
  .ourStory .storyContainer {
    padding: 0 1rem;
  }
  .ourStory .storyContainer .info h2 {
    font-size: 8rem;
  }
  .ourStory .storyContainer .info p {
    font-size: 1.5rem;
  }
  .ourStory .storyContainer .founderInfo .founderTitle p {
    font-size: 1.5rem;
  }
  .ourStory .storyContainer .founderInfo .line svg {
    width: 28em;
    margin-inline: 3em 2em;
  }
}
@media only screen and (min-width: 1600px) {
  .wrapper {
    margin-inline: 8em;
  }
  .heroContainer {
    grid-template: 70vh/60% auto;
  }
  .heroContainer .heroTex h1 {
    font-size: 7rem;
  }
  .heroContainer .heroTex h1 span {
    font-size: 7.5rem;
  }
  .imageGridCollage {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 0.4fr) 0.15fr;
  }
  .imageGridCollage .gridContainer p {
    font-size: 3rem;
  }
  .ourStory {
    padding: 0 2em;
  }
  .ourStory .storyContainer {
    padding: 0 1rem;
  }
  .ourStory .storyContainer .info {
    color: white;
    margin-bottom: 1em;
  }
  .ourStory .storyContainer .info h2 {
    font-family: "Progress Personal Use";
    font-size: 8rem;
  }
  .ourStory .storyContainer .info p {
    font-size: 1.8rem;
  }
  .ourStory .storyContainer .founderInfo img {
    width: 20em;
    height: 20em;
  }
  .ourStory .storyContainer .founderInfo .founderTitle {
    width: 100%;
    margin-top: 0;
  }
  .ourStory .storyContainer .founderInfo .founderTitle p {
    text-align: center;
    padding-top: 0;
    font-size: 2rem;
    color: white;
    font-family: "PT Mono";
    text-shadow: 3px 3px #2E2C2C;
  }
  .streamingServiceBanner h2 {
    font-size: 3rem;
    font-weight: lighter;
  }
  .streamingServiceBanner .servicesContainer {
    padding: 0;
  }
  .streamingServiceBanner .servicesContainer svg {
    width: 20em;
    height: 10em;
  }
  .streamingServiceBanner .servicesContainer .dazn svg {
    width: 8em;
  }
  footer {
    padding: 2em 1em;
  }
  footer .footerContainer {
    margin: 0 8em;
  }
  footer .footerContainer .title {
    font-size: 4rem;
  }
  footer .footerContainer .copyright {
    font-size: 1rem;
    display: flex;
    text-align: right;
  }
  footer .footerContainer .copyright p {
    text-align: center;
  }
  footer .navContainer ul li a {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */